/* ชื่อไฟล์: mybb-items.css */

.item-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 25px;
    width: 100%;
    box-sizing: border-box;
}

.item-box {
    flex: 1 0 22%;
    min-width: 150px;
    max-width: 30%;
    background: rgba(7, 8, 16, 0.8);
    box-shadow: 0 0 10px black;
    border: 1px solid #b9ab7b;
    color: #FDE7BB;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    height: fit-content;
}

.item-header {
    background: url(https://i.imgur.com/MOLP0vV.jpg) center / cover;
    padding: 15px;
    color: #FFCC66;
    border-bottom: 1px solid #b9ab7b;
    text-shadow: 0 2px 5px black;
    font-weight: bold;
    text-align: center;
    font-size: 16pt;
    line-height: 1.3;
}

.item-body {
    padding: 15px;
    text-align: center;
    line-height: 1.3;
}

.item-img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: block;
}

.text-desc {
    border-top: 1px solid;
    text-align: center;
    font-size: 11pt;
    line-height: 1.4;
    padding-top: 20px;
}
